body {
    background-color: black;
    font-family: 'League Spartan', sans-serif;
    color: #F2F2F2;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
}

.container-newsletter {
    width: 50vw;
    height: 100vh;
}

.container-newsletter .container-header {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.container-newsletter .container-header .logo-header {
    color: #8257e5;
    width: 25%;
    height: 25%;
    align-self: center;
    margin: 0 2rem;
}

.container-newsletter .container-header h1 {
    font-size: 40px;
}

.diferent-color {
    color: #04D361;
}

.container-newsletter .container-text {
    margin: 2rem 3rem;
    font-size: 23px;
}

.title-paragraph {
    font-weight: 700;
    font-size: 30px;
}

.sub-title-paragraph {
    font-weight: 600;
    font-size: 25px;
}

.container-image {
    width: 50%;
}

.container-newsletter .container-form {
    width: 100%;
    margin: 5rem 3rem;
    display: flex;
}

.container-newsletter .container-form label {
    font-size: 20px;
    font-weight: 600;
}

.container-newsletter .container-form .container-input-email {
    width: 40vw;
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.container-newsletter .container-form .container-input-email input{
    width: 600px;
    height: 40px;
    border: none;
    outline: none;
    padding: 3px 10px;
    border-left: 5px solid #04D361;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
}

.container-newsletter .container-form .container-input-email .button-submit-form {
    width: 50px;
    height: 46px;
    padding: 0;
    align-self: center;
    background-color: #8257e5;
    color: #F2F2F2;
    border: none;
}

.container-newsletter .container-form .container-input-email .icon-button {
    height: 25px;
    width: 25px;
}

.container-image {
    width: 50vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container-newsletter .container-form .container-input-email input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 3px 10px;
    border-left: 5px solid #04D361;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
}

.container-newsletter .container-infos {
    margin: 3rem 3rem;
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform .2s;
}

.container-newsletter .container-infos a {
    font-size: 20px;
    font-weight: 700;
    color: #8257e5;
    margin-right: .5rem;
}

.icon-seta {
    height: 25px;
    width: 25px;
    color: #8257e5;
}

.container-newsletter .container-infos:hover {
    transform: translate(7.5%);
}

@media (max-width: 1200px) {
    .container-image {
        display: none;
    }
    .container-newsletter {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .container-newsletter .container-form .container-input-email{
        width: 75vw;
    }
}

